<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(e){
            const signUpButton = document.getElementById('signUp');
            const signInButton = document.getElementById('signIn');
            const container = document.getElementById('container');

            signUpButton.addEventListener('click', () => {
              container.classList.add("right-panel-active");
            });

            signInButton.addEventListener('click', () => {
              container.classList.remove("right-panel-active");
            });
        });
    </script>
    <link th:href="@{/css/member.css}" rel="stylesheet">
</head>
<body>
    <h2>Weekly Coding Challenge #1: Sign in/up Form</h2>
    <div class="container" id="container">
        <div class="form-container sign-up-container">
            <form th:action="@{/member/joinMember}" th:method="post">
                <h1>Create Account</h1>
                <span>회원정보를 입력하세요</span>
                <input type="email" name="email" placeholder="Email" />
                <input type="password" name="password" placeholder="Password" />
                <button type="submit">회원가입</button>
            </form>
        </div>
        <div class="form-container sign-in-container">
            <form th:action="@{/member/member}" th:method="post">
                <h1>로그인 페이지</h1>
                <div class="social-container">
                    <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                    <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
                </div>
                <input type="email" name="email"  placeholder="Email" />
                <input type="password" name="password" placeholder="Password" />
                <a href="#">아이디/비밀번호 찾기</a>
                <button type="submit">로그인</button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Welcome Back!</h1>
                    <p>To keep connected with us please member with your personal info</p>
                    <button class="ghost" id="signIn">Sign In</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>Hello, Friend!</h1>
                    <p>Enter your personal details and start journey with us</p>
                    <button class="ghost" id="signUp">Sign Up</button>
                </div>
            </div>
        </div>
    </div>

</body>
</html>