<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    <title>Amado - Furniture Ecommerce Template | Cart</title>

    <!-- Favicon  -->
    <link rel="icon" href="/img/core-img/favicon.ico">

    <!-- Core Style CSS -->
    <link rel="stylesheet" href="/css/core-style.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
</head>

<body>
    <!-- Search Wrapper Area Start -->
    <div class="search-wrapper section-padding-100">
        <div class="search-close">
            <i class="fa fa-close" aria-hidden="true"></i>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="search-content">
                        <form action="#" method="get">
                            <input type="search" name="search" id="search" placeholder="Type your keyword...">
                            <button type="submit"><img src="/img/core-img/search.png" alt=""></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Search Wrapper Area End -->

    <!-- ##### Main Content Wrapper Start ##### -->
    <div class="main-content-wrapper d-flex clearfix">

        <!-- Mobile Nav (max width 767px)-->
        <div class="mobile-nav">
            <!-- Navbar Brand -->
            <div class="amado-navbar-brand">
                <a href="/index.html"><img src="/img/core-img/logo.png" alt=""></a>
            </div>
            <!-- Navbar Toggler -->
            <div class="amado-navbar-toggler">
                <span></span><span></span><span></span>
            </div>
        </div>

        <!-- Header Area Start -->
        <header class="header-area clearfix">
            <!-- Close Icon -->
            <div class="nav-close">
                <i class="fa fa-close" aria-hidden="true"></i>
            </div>
            <!-- Logo -->
            <div class="logo">
                <a href="/index.html"><img src="/img/core-img/logo.png" alt=""></a>
            </div>
            <!-- Amado Nav -->
            <nav class="amado-nav">
                <ul>
                    <li><a href="/index.html">Home</a></li>
                    <li><a href="/shop.html">Shop</a></li>
                    <li><a href="/product-details.html">Product</a></li>
                    <li class="active"><a href="/cart.html">Cart</a></li>
                    <li><a href="/checkout.html">Checkout</a></li>
                </ul>
            </nav>
            <!-- Button Group -->
            <div class="amado-btn-group mt-30 mb-100">
                <a href="#" class="btn amado-btn mb-15">%Discount%</a>
                <a href="#" class="btn amado-btn active">New this week</a>
            </div>
            <!-- Cart Menu -->
            <div class="cart-fav-search mb-100">
                <a href="/cart.html" class="cart-nav"><img src="/img/core-img/cart.png" alt=""> Cart <span>(0)</span></a>
                <a href="#" class="fav-nav"><img src="/img/core-img/favorites.png" alt=""> Favourite</a>
                <a href="#" class="search-nav"><img src="/img/core-img/search.png" alt=""> Search</a>
            </div>
            <!-- Social Button -->
            <div class="social-info d-flex justify-content-between">
                <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            </div>
        </header>
        <!-- Header Area End -->

        <div class="cart-table-area
         section-padding-100">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-lg-8">
                        <div class="cart-title mt-50">
                            <h2>장바구니</h2>
                        </div>
                        <div class="cart-table cart-scroll clearfix">
                            <table class="table table-responsive">
                                <thead>
                                    <tr class="table_head">
                                        <th class="column-0"></th>
                                        <th class="column-1">(이미지 컬럼 자리)</th>
                                        <th class="column-2">이름</th>
                                        <th class="column-3">수량</th>
                                        <th class="column-4">상품별 합계</th>
                                        <th class="column-5"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="table_row" th:each="cartList : ${cartLists}">
                                        <td>
                                            <input type="checkbox" class="checkbox" data-id="${cartList.cartProductId}">
                                        </td>
                                        <td class="column-1" th:text="${cartList.mainImg}"></td>
                                        <td class="column-2" th:text="${cartList.productName}"></td>
                                        <td class="column-3">
                                            <div class="qty-btn d-flex">
                                                <div class="wrap-num-product flex-w m-l-auto m-r-0">
                                                    <div class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m" data-id="${cartList.cartProductId}">
                                                        <i class="fs-16 zmdi zmdi-minus"></i>
                                                    </div>
                                                    <input class="mtext-104 cl3 txt-center num-product" type="number" name="num-product1" th:value="${cartList.count}" th:data-price="${cartList.productPrice}" data-id="${cartList.cartProductId}">
                                                    <div class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m" data-id="${cartList.cartProductId}">
                                                        <i class="fs-16 zmdi zmdi-plus"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <div>
                                                <select class="size" th:attr="data-id=${cartList.cartProductId}">
                                                    <option th:each="option : ${cartList.option}" th:text="${option.size}"></option>
                                                </select>
                                                <select class="color" th:attr="data-id=${cartList.cartProductId}">
                                                    <option th:each="option : ${cartList.option}" th:text="${option.color}"></option>
                                                </select>
                                            </div>
                                        </td>
                                        <td class="column-4 product-total" data-id="${cartList.cartProductId}" th:text="${'₩ '+#numbers.formatDecimal(productTotal[cartList.cartProductId], 0, 'COMMA', 0, 'POINT')}"></td>
                                        <td class="column-5">
                                            <button type="button" class="close" aria-label="Close" th:data-id="${cartList.cartProductId}" id="deleteCartButton">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4">
                        <div class="cart-summary">
                            <h5>주문 예상금액</h5>
                            <ul class="summary-table">
                                <li>
                                    <span>총 상품가격:</span>
                                    <span class="subtotal" th:text="${'₩ ' + #numbers.formatDecimal(subTotal, 0, 'COMMA', 0, 'POINT')}"></span>
                                </li>
                                <li>
                                    <span>총 배송비 (30만원 이상 무료배송):</span>
                                    <span class="shippingFee" th:if="${subTotal >= 300000?'Free':('₩ ' + #numbers.formatDecimal(5000, 0, 'COMMA', 0, 'POINT'))}"></span>
                                </li>
                                <li>
                                    <span>총 결제금액:</span>
                                    <span class="finalFee" th:text="${subTotal >= 300000 ? ('₩ ' + #numbers.formatDecimal(subTotal, 0, 'COMMA', 0, 'POINT')) : ('₩ ' + #numbers.formatDecimal(subTotal + 5000, 0, 'COMMA', 0, 'POINT'))}"></span>
                                </li>
                            </ul>
                            <div class="cart-btn mt-100">
                                <a href="/cart.html" class="btn amado-btn w-100">구매하기</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Main Content Wrapper End ##### -->

    <!-- ##### Newsletter Area Start ##### -->
    <section class="newsletter-area section-padding-100-0">
        <div class="container">
            <div class="row align-items-center">
                <!-- Newsletter Text -->
                <div class="col-12 col-lg-6 col-xl-7">
                    <div class="newsletter-text mb-100">
                        <h2>Subscribe for a <span>25% Discount</span></h2>
                        <p>Nulla ac convallis lorem, eget euismod nisl. Donec in libero sit amet mi vulputate consectetur. Donec auctor interdum purus, ac finibus massa bibendum nec.</p>
                    </div>
                </div>
                <!-- Newsletter Form -->
                <div class="col-12 col-lg-6 col-xl-5">
                    <div class="newsletter-form mb-100">
                        <form action="#" method="post">
                            <input type="email" name="email" class="nl-email" placeholder="Your E-mail">
                            <input type="submit" value="Subscribe">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Newsletter Area End ##### -->

    <!-- ##### Footer Area Start ##### -->
    <footer class="footer_area clearfix">
        <div class="container">
            <div class="row align-items-center">
                <!-- Single Widget Area -->
                <div class="col-12 col-lg-4">
                    <div class="single_widget_area">
                        <!-- Logo -->
                        <div class="footer-logo mr-50">
                            <a href="/index.html"><img src="/img/core-img/logo2.png" alt=""></a>
                        </div>
                        <!-- Copywrite Text -->
                        <p class="copywrite"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->& Re-distributed by <a href="https://themewagon.com/" target="_blank">Themewagon</a>
</p>
                    </div>
                </div>
                <!-- Single Widget Area -->
                <div class="col-12 col-lg-8">
                    <div class="single_widget_area">
                        <!-- Footer Menu -->
                        <div class="footer_menu">
                            <nav class="navbar navbar-expand-lg justify-content-end">
                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#footerNavContent" aria-controls="footerNavContent" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
                                <div class="collapse navbar-collapse" id="footerNavContent">
                                    <ul class="navbar-nav ml-auto">
                                        <li class="nav-item active">
                                            <a class="nav-link" href="/index.html">Home</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/shop.html">Shop</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/product-details.html">Product</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/cart.html">Cart</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/checkout.html">Checkout</a>
                                        </li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ##### Footer Area End ##### -->

    <!-- ##### jQuery (Necessary for All JavaScript Plugins) ##### -->
    <script src="/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="/js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="/js/bootstrap.min.js"></script>
    <!-- Plugins js -->
    <script src="/js/plugins.js"></script>
    <!-- Active js -->
    <script src="/js/active.js"></script>

</body>

<script>
    document.addEventListener("DOMContentLoaded", function(event) {
        // updateShippingAndTotal();
        // changeQuantity();
        var deleteButton = document.getElementById('deleteCartButton');
        deleteButton.addEventListener('click', function(event) {
            deleteCartProduct(this, event);
        });

    });
    //
    // function updateShippingAndTotal() {
    //
    //     var subTotalText = document.querySelector('.subtotal').innerText
    //     var subTotal = parseInt(subTotalText.replace(/[^0-9]/g, '')); // 정규식표현이라 함..;; 이모티콘인줄
    //
    //     var shippingFeeElement = document.querySelector('.shippingFee');
    //     var finalAmountElement = document.querySelector('.finalFee');
    //
    //     if(subTotal >= 300000) {
    //         // 배송료가 무료인 경우
    //         shippingFeeElement.innerText = 'Free';
    //         finalAmountElement.innerText = '₩ ' + subTotal.toLocaleString();
    //     } else {
    //         // 배송료가 5,000원 부과되는 경우
    //         var shippingFee = 5000;
    //         var finalAmount = subTotal + shippingFee;
    //         shippingFeeElement.innerText = '₩ ' + shippingFee.toLocaleString();
    //         finalAmountElement.innerText = '₩ ' + finalAmount.toLocaleString();
    //     }
    // }
    //
    // function changeQuantity(){
    //     // 수량 감소 버튼 이벤트 리스너
    //     document.querySelectorAll('.btn-num-product-down').forEach(function(button) {
    //         button.addEventListener('click', function() {
    //             console.log("감소버튼 누름요")
    //             const productId = this.getAttribute('data-id');
    //             const tableRow = this.closest('.table_row'); // 가장 가까운 .table_row를 찾음
    //             const inputField = tableRow.querySelector(`input[data-id='${productId}']`); // 해당 .table_row 내에서 input 필드를 찾음
    //             let quantity = parseInt(inputField.value, 10);
    //             if (quantity > 1) {
    //                 // quantity 값을 직접 감소시킨 후 input 필드의 값을 업데이트
    //                 quantity -= 1;
    //                 inputField.value = quantity;
    //                 updateTotal(productId, quantity, tableRow); // tableRow를 updateTotal 함수에 전달
    //                 updateSubtotal();
    //             }
    //         });
    //     });
    //
    //     // 수량 증가 버튼 이벤트 리스너
    //     document.querySelectorAll('.btn-num-product-up').forEach(function(button) {
    //         button.addEventListener('click', function() {
    //             console.log("증가버튼 누름요")
    //             const productId = this.getAttribute('data-id');
    //             const tableRow = this.closest('.table_row'); // 가장 가까운 .table_row를 찾음
    //             const inputField = tableRow.querySelector(`input[data-id='${productId}']`); // 해당 .table_row 내에서 input 필드를 찾음
    //             let quantity = parseInt(inputField.value, 10);
    //             // quantity 값을 직접 증가시킨 후 input 필드의 값을 업데이트
    //             quantity += 1;
    //             inputField.value = quantity;
    //             updateTotal(productId, quantity, tableRow); // tableRow를 updateTotal 함수에 전달
    //             updateSubtotal();
    //         });
    //     });
    // }
    //
    //
    // // 상품별 총액 업데이트 함수
    // function updateTotal(productId, quantity, tableRow) {
    //     let price = tableRow.querySelector(`input[data-id='${productId}']`).getAttribute('data-price');
    //     // 쉼표 제거 후 Number로 변환
    //     price = Number(price.replace(/,/g, ''));
    //     let total=price*quantity;
    //     // 총액을 문자열로 변환하여 업데이트
    //     tableRow.querySelector(`.product-total[data-id='${productId}']`).textContent = `₩ ${total.toLocaleString()}`;
    // }
    //
    // // 장바구니 총액 업데이트 함수
    // function updateSubtotal() {
    //     let subtotal = 0;
    //     // 모든 .product-total 요소를 순회
    //     document.querySelectorAll('.product-total').forEach(function(item) {
    //         // 쉼표를 제거하고 숫자로 변환
    //         let itemTotal = parseInt(item.textContent.replace(/₩ /g, '').replace(/,/g, ''), 10);
    //         subtotal += itemTotal;
    //     });
    //     // subtotal 업데이트
    //     document.querySelectorAll('.subtotal').forEach(function (item){
    //         item.textContent=`₩ ${subtotal.toLocaleString()}`;
    //     })
    //
    //     // 배송비 업데이트
    //     updateShippingFee(subtotal);
    // }
    //
    // function updateShippingFee(subtotal){
    //     let shippingFee=subtotal>=300000?0:5000; // 배송비 10만원 이상 무료. 아니면 5천원이용
    //     document.querySelector('.shippingFee').textContent = `₩ ${shippingFee.toLocaleString()}`;
    //
    //     let finalFee = subtotal + shippingFee; // 최종 금액 (부가세 포함 계산 필요시 여기에 추가)
    //     document.querySelector('.finalFee').textContent = `₩ ${finalFee.toLocaleString()}`; // 최종 금액 업데이트
    // }
    //

    // 장바구니 상품 개별삭제
    function deleteCartProduct(element, event){
        event.preventDefault(); // 이 부분을 추가
        event.stopPropagation();
        var cartProductId = element.getAttribute('data-id'); // data-id 속성을 읽어옵니다.
        console.log("나 보임??나 보임??나 보임??나 보임??나 보임??나 보임??나 보임??나 보임??나 보임??나 보임??나 보임??")
        var url = "/cart/cartProduct/"+cartProductId; // URL 동적 생성

        $.ajax({
            url: url,
            type: "DELETE",
            contentType: "application/json",
            success: function(result, status) {
                console.log(result);
                // 성공적으로 처리된 후의 동작
                window.location.href = "/cart/cart"; // 페이지를 장바구니 목록으로 리다이렉트
            },
            error: function(xhr, status, error) {
                // 에러 처리
                console.error(status, error);
            }
        });
    }


    // //
    // $(document).ready(function(){
    //     // 상품 사이즈 변경 시
    //     $('tbody').on('change', '.size', function(){
    //         var productId = $(this).attr('data-id');
    //         $.ajax({
    //             url: "/cart/api/products/" + productId + "/sizes",
    //             type: "GET",
    //             success: function(response){
    //                 var sizeSelect = $('select.size[data-id="' + productId + '"]');
    //                 sizeSelect.empty();
    //                 $.each(response, function(index, size){
    //                     sizeSelect.append($('<option>', {
    //                         value: size,
    //                         text: size
    //                     }));
    //                 });
    //             }
    //         });
    //     });
    //
    //     // 상품 색상 변경 시
    //     $('tbody').on('change', '.color', function(){
    //         var productId = $(this).attr('data-id');
    //         $.ajax({
    //             url: "/cart/api/products/" + productId + "/colors",
    //             type: "GET",
    //             success: function(response){
    //                 var colorSelect = $('select.color[data-id="' + productId + '"]');
    //                 colorSelect.empty();
    //                 $.each(response, function(index, color){
    //                     colorSelect.append($('<option>', {
    //                         value: color,
    //                         text: color
    //                     }));
    //                 });
    //             }
    //         });
    //     });
    // });

</script>
</html>