<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="_csrf_header" id="_csrf_header" th:content="${_csrf.headerName}">
    <meta name="_csrf" id="_csrf" th:content="${_csrf.token}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->


    <!-- Favicon  -->
    <link rel="icon" href="/img/core-img/favicon.ico">

    <!-- Core Style CSS -->
    <link rel="stylesheet" href="/css/core-style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
    <style>
        .footer_area .navbar-nav .nav-item {
            border-bottom: 1px solid #ffffff;
            margin-bottom: 15px;
            display: block;
        }
    </style>
    <script>

        window.onload = function() {
            ////////////////csrf 토큰////////////////////////////////////////////////////////////////
            var csrfToken = $("meta[name='_csrf']").attr("content");
            var csrfHeader = $("meta[name='_csrf_header']").attr("content");
            console.log(csrfHeader+"==========="+csrfToken);
            $(document).ajaxSend(function (e, xhr, options) {
                xhr.setRequestHeader(csrfHeader, csrfToken);
            });
            ////////////////csrf 토큰.end////////////////////////////////////////////////////////////////
        };
    </script>
    <script src="https://cdn.bootpay.co.kr/js/bootpay-3.3.1.min.js" type="application/javascript"></script>


    <script src="https://js.bootpay.co.kr/bootpay-4.3.4.min.js" type="application/javascript"></script>

    <style>
        /** 주문창 style ***************************/
        .pay_container{
            width: 30%;
            margin-top: 100px;
        }
        .form-group {
            margin-bottom: 20px;
        }
        .form-group input {
            width: 100%;
            padding: 10px;
            border-radius: 5px;
        }
        .form-group button {
            width: 100%;
            padding: 10px;
            background-color: #fbb710;
            text-decoration: none;

            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        .form-group button:hover {
            background-color: #131212;
        }

        /** 주문창 style.end ***************************/
    </style>
</head>


<script>

    window.onload = function() {
        ////////////////csrf 토큰////////////////////////////////////////////////////////////////
        var csrfToken = $("meta[name='_csrf']").attr("content");
        var csrfHeader = $("meta[name='_csrf_header']").attr("content");
        console.log(csrfHeader+"==========="+csrfToken);
        $(document).ajaxSend(function (e, xhr, options) {
            xhr.setRequestHeader(csrfHeader, csrfToken);
        });
        ////////////////csrf 토큰.end////////////////////////////////////////////////////////////////
    };
</script>

<body>
<!-- Search Wrapper Area Start -->
<div class="search-wrapper section-padding-100">
    <div class="search-close">
        <i class="fa fa-close" aria-hidden="true"></i>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="search-content">
                    <form th:action="@{/shopping/main}" th:method="get">
                        <input type="search" name="keyword" id="search" placeholder="Type your keyword...">
                        <button type="submit"><img src="/img/core-img/search.png" alt=""></button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Search Wrapper Area End -->

<!-- ##### Main Content Wrapper Start ##### -->
<div class="main-content-wrapper d-flex clearfix">

    <!-- Mobile Nav (max width 767px)-->
    <div class="mobile-nav">
        <!-- Navbar Brand -->
        <div class="amado-navbar-brand">
            <a th:href="@{/shopping/main}"><img src="/img/core-img/logo.png" alt=""></a>
        </div>
        <!-- Navbar Toggler -->
        <div class="amado-navbar-toggler">
            <span></span><span></span><span></span>
        </div>
    </div>

    <!-- Header Area Start -->
    <header class="header-area clearfix">
        <!-- Close Icon -->
        <div class="nav-close">
            <i class="fa fa-close" aria-hidden="true"></i>
        </div>
        <!-- Logo -->
        <div class="logo">
            <a th:href="@{/shopping/main}"><img src="/img/core-img/logo.png" alt=""></a>
        </div>
        <!-- Amado Nav -->
        <nav class="amado-nav">
            <ul>
                <li><a th:href="@{/community/main}">커뮤니티</a></li>
                <li class="active"><a th:href="@{/shopping/main}">쇼핑몰</a></li>
                <li><a th:href="@{/member/myPage}">마이페이지</a></li>
                <li><a th:href="@{/member/faq}">고객센터</a></li>
            </ul>
        </nav>
        <!-- Button Group -->
        <div class="amado-btn-group mt-30 mb-100">
            <a th:href="@{/shopping/register}" class="btn amado-btn mb-15">상품등록</a>
        </div>
        <!-- Cart Menu -->
        <div class="cart-fav-search mb-100">
            <a th:href="@{/shopping/cart}" class="cart-nav"><img src="/img/core-img/cart.png" alt=""> Cart <span></span></a>
            <a href="#" class="search-nav"><img src="/img/core-img/search.png" alt=""> Search</a>
        </div>

    </header>
    <!-- Header Area End -->

    <div class="pay_container ml-100">
        <h2>주문/결제</h2>
        <hr>

        <br>
        <form id="paymentForm" th:method="post" th:action="@{/shopping/orders}">
            수령인 :
            <div class="form-group">
                <input type="text" name="recipient" th:value="${member.nickName}" required>
            </div>
            전화번호 :
            <div class="form-group">
                <input type="tel" name="tel" th:value="${member.phone}" required>
            </div>

            수령 주소:
            <div class="form-group">
                <input type="text" name="orderAddress" th:value="${member.address}+${member.addressDetail}" required>
            </div>

            배송시 요청 사항:
            <div class="form-group">
                <input type="text" name="shipRequest" required>
            </div>

            총 금액:
            <div class="form-group">
                <input type="text" name="totalPrice" th:value="${totalPrice}" readonly>
            </div>

            <!-- Js Plugins -->
            <div class="form-group">
                <button type="button" onclick="requestPayment(event)">결제하기</button> <!-- 버튼 클릭 시 결제 요청 함수 호출 -->
            </div>
        </form>
    </div>



</div>
<!-- ##### Main Content Wrapper End ##### -->


<footer class="footer_area clearfix">
    <div class="container">
        <div class="row align-items-center">
            <!-- Single Widget Area -->
            <div class="col-12 col-lg-4">
                <div class="single_widget_area">
                    <!-- Logo -->
                    <div class="footer-logo mr-50">
                        <!-- <a href="index.html"><img src="img/core-img/logo2.png" alt=""></a> -->
                        <a th:href="@{/shopping/main}" ><img src="/img/core-img/logo_footer.png" alt="" width="70%"></a>
                    </div>
                    <div style="color:white; font-size: 12px; font-weight: bolder;">
                        Copyright 2024 Ohrray Corp. All rights reserved
                    </div>
                </div>
            </div>
            <!-- Single Widget Area -->
            <div class="col-12 col-lg-8">
                <div class="single_widget_area">
                    <!-- Footer Menu -->
                    <div class="footer_menu">
                        <nav class="navbar navbar-expand-lg justify-content-end">
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#footerNavContent" aria-controls="footerNavContent" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
                            <div class="collapse navbar-collapse" id="footerNavContent">
                                <ul class="navbar-nav ml-auto">
                                    <li class="nav-item">
                                        <a class="nav-link footerMenu" th:href="@{/community/main}" style="font-size: x-large;">커뮤니티</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" th:href="@{/shopping/main}" style="font-size: x-large;">쇼핑몰</a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link" th:href="@{/member/myPage}" style="font-size: x-large;">마이페이지</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" th:href="@{/member/faq}" style="font-size: x-large;">고객센터</a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                        <div style="float:right">
                            <div style="color:white; font-size: 12px; font-weight: bolder;" >
                                쇼핑몰 고객센터 1933-1631<br>
                                Ohrray 고객센터 1844-7781<br>
                                상담시간 : 09:00 ~ 17:00(토,일, 공휴일 휴무)<br>
                                점심시간 : 12:30 ~ 13:30(상담불가)
                                <br><br>
                                서울시 관악구 남부순환로 1820, 에그옐로우 14층
                                <br>
                                상호:(주)Ohrray | 사업자등록번호 : 648-86-00688
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- ##### Footer Area End ##### -->

<!---->
<script>
    async function requestPayment(event) {
        event.preventDefault();
        var totalPrice = "[[${totalPrice}]]";
        console.log(totalPrice);
        try {
            const response = await Bootpay.requestPayment({
                "application_id": "662857dd1b3541ae8878ec36",
                "price": totalPrice,
                "order_name": "테스트결제",
                "order_id": "TEST_ORDER_ID",
                "pg": "다날",
                "method": "카드",
                "tax_free": 0,
                "user": {
                    "id": "user",
                    "username": "user",
                    "phone": "0101111111",
                    "email": "test@test.com"
                },
                "items": [
                    {
                        "id": "item_id",
                        "name": "테스트아이템",
                        "qty": 1,
                        "price": totalPrice
                    }
                ],
                "extra": {
                    "open_type": "iframe",
                    "card_quota": "0,2,3",
                    "escrow": false
                }
            });
            console.log(response); // 결제 응답 처리
            console.log("결제가 성공");
            if(response.event =="done"){
                document.querySelector("#receiptId").value=response.data.receipt_id;
                document.querySelector("#paymentStatus").value=response.data.status_locale;
                document.querySelector("#paymentForm").submit();
            }
            return true;
        } catch (error) {
            console.error(error); // 오류 처리
            console.log("결제가 실패");
            return false;
        }
    }

</script>


<!-- ##### jQuery (Necessary for All JavaScript Plugins) ##### -->
<script src="/js/jquery/jquery-2.2.4.min.js"></script>
<!-- Popper js -->
<script src="/js/popper.min.js"></script>
<!-- Bootstrap js -->
<script src="/js/bootstrap.min.js"></script>
<!-- Plugins js -->
<script src="/js/plugins.js"></script>
<!-- Active js -->
<script src="/js/active.js"></script>

</body>

</html>